
.imageProfile{
    width:322px;
    height:322px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    border-radius: 200px;
 
}
.profileImg,.FullName,.MyAdress{
    border: solid 2px black;
}
.FullName{
    text-align: center;
}
.MyAdress{
    text-align: center;
}
h1:hover,h3:hover{
    font-size: 50px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
